/*--------------------------------This should be the same for all tabs--------------------------------*/
html, body {
        height: 100%;
        margin: 0;
        font-family: "Avenir Next";
      }

/* two main colors*/
.hred{
  color: #C21C31;
  font-family: "Avenir Next" !important;
  font-weight: bold;
}

.hgreen{
  color: #589E07;
  font-family: "Avenir Next" !important;
  font-weight: bold;
}

/* Navigation bar */
@media (max-width: 1026px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
  }
  .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
      display:block !important;
  }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar {
    margin-bottom: 0;
    background-color: black !important;
    border: 0;
    font-family: "Avenir Next" !important;
    font-size:2.5vmin;
}

.navbar li a, .navbar .navbar-brand {
    color: black !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    background-color: rgba(105, 105, 105, 0.7)!important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}


/*------------------------------------------------End---------------------------------------------------*/

/*.jumbotron {  
  background-image:url('../../images/hacker.jpg');
  color: red;
  font-size: bold;
  no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    min-height:100%
}*/

/* for main page tab */
body.main-page{
  background-image:url("../images/earth.gif");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height:100%
}

.opaque{
  background-color: rgba(128, 128, 128, 0.09); 
}

img.logos{ 
  position:relative;
  height:auto;
  width:auto;
  max-width:40%;
  max-height:40%;
}

.container-table {
    display: table;
    height:100%;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.title{
  font-size:10vmin;
}

.subtitle {
  font-size:3.5vmin;
  color:white;
}



